body {
    margin: 0;
    padding: 0;
    background-image: url(images/fondoCarta2.png);
}

@media (min-width: 300px) and (max-width:1000px) {
    .carta {
        display: flex;
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    .sobreIzquierda {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 75%;
        z-index: 2;
    }

    .sobreIzquierda img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .sobreDerecha {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 65%;
        z-index: 3;
    }

    .sobreDerecha img {
        object-fit: cover;
        height: 100%;
    }

    .botonCarta {
        position: absolute;
        top: 45%;
        left: 30%;
        z-index: 4;
    }

    .botonCarta img {
        object-fit: cover;
        width: 100px;
    }

    /*Estilos Nohemi*/

    .intro{
    display: flex;
    justify-items: space-evenly;
    flex-direction: column;
    text-align: center;
    
    }

    p{
        font-family:'Tangerine', cursive;
        font-weight: 400;
        font-size: 40px;
    }
    h3{
        font-family: "Libertinus Serif", serif;
        font-weight: 600;
        font-style: normal;
    }
    h4{
        padding: 0px;
        margin:0px;
    }
    .names{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        font-family: "Playfair Display", serif;
    
        font-weight: 400;
        font-style: italic;
        font-size:18px;
        
    }
    .novios{
        font-family: "Rouge Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size:60px;
    }
    h2{
        font-family: "Playfair Display", serif;
        font-weight: 800;
        font-size: 40px;
    }
    .fecha{
        display:flex;
        justify-content: space-evenly;
        text-align: center;
    }
    /*LINEA DE EN MEDIO?? 
    .der{
        padding-right:15%;
        border-right: 3px solid black;
    }*/ 
    .ceremonia{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        
        
    }
    #title{
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-size: 40px;
    }
    .recepcion{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }
}