body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(images/fondoCarta2.png);
}

/* ESTILOS PARA LA CARTA DISPOSITIVO MÓVIL (PANTALLA INICIAL) */

@media (min-width: 300px) and (max-width:737px) {
    .carta {
        display: flex;
        position: relative;
        z-index: 0;
        height: 100dvh;
        width: 100%;
        overflow: hidden;
    }

    .imagenInicial {
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .imagenInicial img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
    }

    .sobreIzquierda {
        position: absolute;
        z-index: 3;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 75%;
    }

    .sobreIzquierda img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .sobreDerecha {
        position: absolute;
        z-index: 4;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 65%;
    }

    .sobreDerecha img {
        object-fit: cover;
        height: 100%;
    }

    .botonCarta {
        position: absolute;
        z-index: 5;
        top: 45%;
        left: 30%;
    }

    .botonCarta img {
        object-fit: cover;
        width: 100px;
    }



    /*ESTILOS MAIN*/

    .intro {
        display: flex;
        justify-items: space-evenly;
        flex-direction: column;
        text-align: center;
    }

    p {
        font-family: 'Tangerine', cursive;
        font-weight: 400;
        font-size: 40px;
    }

    h3 {
        font-family: "Libertinus Serif", serif;
        font-weight: 600;
        font-style: normal;
    }

    h4 {
        padding: 0px;
        margin: 0px;
    }

    .names {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        font-family: "Playfair Display", serif;

        font-weight: 400;
        font-style: italic;
        font-size: 18px;

    }

    .novios {
        font-family: "Rouge Script", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: 800;
        font-size: 40px;
    }

    .fecha {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    /*LINEA DE EN MEDIO?? 
    .der{
        padding-right:15%;
        border-right: 3px solid black;
    }*/
    .ceremonia {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;


    }

    #title {
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
    }

    .recepcion {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }

    button {
        background-color: rgb(35, 34, 34);
        color: white;
        border-radius: 20px;
        padding: 5px;
        font-weight: 400;
        width: 120px;
        height: 40px;
        font-size: large;
        font-family: 'Playfair Display", serif';
        transition: background-color 0.5s ease-in-out, font-size 0.3s linear;
    }

    button:hover {
        cursor: pointer;
        font-size: 110%;
        background-color: rgb(51, 53, 53);
    }

    .itinerario {
        display: flex;
        justify-content: space-evenly;
    }

    .it-izquierda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .it-derecha {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ESTILOS PARA LA CARTA DISPOSITIVO ESCRITORIO (PANTALLA INICIAL) */

@media (min-width: 738px) {
    .carta {
        display: flex;
        position: relative;
        height: 100dvh;
        width: 100%;
        overflow: hidden;

    }

    .sobreIzquierda {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 75%;
        z-index: 2;
    }

    .sobreIzquierda img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .sobreDerecha {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 60%;
        z-index: 3;
    }

    .sobreDerecha img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .botonCarta {
        position: absolute;
        top: 45%;
        left: 37%;
        z-index: 4;
    }

    .botonCarta img {
        object-fit: cover;
        width: 130px;
    }
}